@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'RemachineScript';
  src: url('../public/assets/RemachineScript_Personal_Use.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


.slide-up {

  animation: slide-up 500ms ease-in-out forwards;

}

@keyframes slide-up {

  from {


    height: 0;
    opacity: 0.2;

  }

  to {


    height: 66.66%;
    opacity: 1;

  }




}

.active { border-bottom: 1px ;  background-color: cornflowerblue; border-radius: 20px;

color: white;
display: flex;
justify-content: center ;
padding: 4px;

}



.max-h-custom {
  max-height: 30rem;
}

.stagger>* {

  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}

.stagger>*:nth-child(1) {
  animation-delay: 0s;
}

.stagger>*:nth-child(2) {
  animation-delay: 0.1s;
}

.stagger>*:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}